In [1]:
import pyspark
from utils import *

APP_NAME = 'Exploration-Notebook'
sc = pyspark.SparkContext()
spark = pyspark.sql.SparkSession(sc).builder.appName(APP_NAME).getOrCreate()

In [21]:
ds = spark.read.format("com.mongodb.spark.sql.DefaultSource").option("uri",
"mongodb://localhost/crymeclarity.incidents").load()

In [44]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

def assign_coordinate_to_box(longitude, latitude):
    lon_box = abs(int(longitude/0.007254180000003885))
    lat_box = abs(int(latitude/.008726950000000073))
    
    return 'box_'+ str(lat_box) + '_' + str(lon_box)

actb = udf(lambda x, y: assign_coordinate_to_box(x, y), StringType())

In [45]:
ds = ds.withColumn('location_1', actb(ds.location_1.coordinates[1], ds.location_1.coordinates[0])).first()

In [24]:
ds.location_1

Column<b'location_1'>

In [16]:
e.first()

'box_13571_4687'

In [5]:
spark.read.format("jdbc").options(
url ="jdbc:mysql://localhost/crymeweb",
driver="com.mysql.jdbc.Driver",
dbtable="safety_safetyanalysisrequest",
user="root",
password=""
).load().take(10)

[Row(id=1, latitude=-118.41249864615578, longitude=34.16825399538882, timestamp=datetime.datetime(2018, 10, 23, 18, 33, 18, 618449), estimate=None, model_id=None),
 Row(id=2, latitude=-118.6291741148338, longitude=34.20046220981372, timestamp=datetime.datetime(2018, 6, 19, 8, 28, 8, 137232), estimate=None, model_id=None),
 Row(id=3, latitude=-118.23903141641468, longitude=34.098302915303066, timestamp=datetime.datetime(2018, 4, 2, 9, 35, 9, 863161), estimate=None, model_id=None),
 Row(id=4, latitude=-118.33342946929231, longitude=33.998960200044806, timestamp=datetime.datetime(2018, 1, 10, 5, 46, 43, 643117), estimate=None, model_id=None),
 Row(id=5, latitude=-118.44140318443054, longitude=33.963766649218805, timestamp=datetime.datetime(2018, 2, 5, 2, 35, 23, 564878), estimate=None, model_id=None),
 Row(id=6, latitude=-118.52734953757275, longitude=34.22224575121743, timestamp=datetime.datetime(2019, 2, 22, 8, 9, 59, 655748), estimate=None, model_id=None),
 Row(id=7, latitude=-118.27606693898552, longitude=33.725482341643286, timestamp=datetime.datetime(2018, 11, 1, 9, 42, 48, 307768), estimate=None, model_id=None),
 Row(id=8, latitude=-118.56535352460585, longitude=34.1181392748073, timestamp=datetime.datetime(2018, 5, 22, 17, 16, 6, 174449), estimate=None, model_id=None),
 Row(id=9, latitude=-118.30031742518642, longitude=34.267233399833465, timestamp=datetime.datetime(2018, 7, 28, 2, 19, 29, 170505), estimate=None, model_id=None),
 Row(id=10, latitude=-118.50675568395008, longitude=34.15621721961536, timestamp=datetime.datetime(2018, 6, 29, 15, 47, 25, 355730), estimate=None, model_id=None)]

In [47]:
def assign_coordinate_to_box(longitude, latitude):
    lon_box = abs(int(longitude/0.007254180000003885))
    lat_box = abs(int(latitude/.008726950000000073))
    
    return 'box_'+ str(lat_box) + '_' + str(lon_box)

In [48]:
assign_coordinate_to_box(34.164872, -118.437578)

'box_13571_4709'

In [49]:
assign_coordinate_to_box(34.162790, -118.431342)

'box_13570_4709'

In [ ]:
0.007254180000003885, 0.8726950000000073